@font-face {
  font-family: 'agustina';
  src: url('agustina.ttf');
}

* {

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

body {
  background-color: #0B0B45;
  
}

.navbar {
  justify-content: flex-end;
}

@media (max-width: 850px) {
  .navbar {
    display: none;
  }
}

.site-logo {
  font-family: "agustina";
}

.nav-item {
  color: white
}

/* Default styles for the sidebar */
.sidebar {
  /* Your sidebar styles here */
}

/* Media query for screen sizes below 850px */
@media (max-width: 850px) {
  .sidebar {
    display: block; /* or any other value you want to use to make it visible */
  }
}

/* Media query for screen sizes above 850px */
@media (min-width: 851px) {
  .sidebar {
    display: none; /* or any other value you want to use to hide it */
  }
}


.resume-button {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.78);
}

.experience-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.78);
}

@media (max-width: 767px) {
  .experience-section {
    flex-wrap: wrap;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}

@media (max-width: 768px) {
  .slider {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}

.slider-item {
  cursor: pointer;
  width: 33%;
  transition: all 0.3s ease;
  color: white;
}

.slider-item.active {
  border-bottom: thick solid white;
}

.job-title {
  color: white;
  font-size: 8px;
}


.job-summary {
  width: 100%;
  color: white;
}

.job-summary h2 {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.job-summary p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.job-summary ul {
  list-style-type: disc;
  margin-left: 20px;
  color: white;
}

.job-summary li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}


/* Project Section */

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.project-section-container {
  display: flex;

  flex-wrap: wrap;
}

.project-card {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.78);
  width: 48%;
  margin: 8px;
  justify-content: center;
  align-items: center;
}

.project-card h3 {
  color: white;
}

.project-card p {
  color: white;
}

@media (max-width: 873px) {
  .project-card {
    width: 100%
  }
}

.github-link {
  color: white;
  margin: .5rem;
  font-size: 2rem;
  font-weight: 500;
}

.github-link:hover {
  color: black
}

.site-link {
  color: white;
  margin: .5rem;
  font-size: 2rem;
}

.site-link:hover {
  color: black;
}

.project-img {
  width: 50%;
  margin-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-img img {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.project-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.project-description {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.tech-item {
  font-size: 1.5rem;
  background-color: #F7F7F7;
  color: #333333;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.project-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  background-color: transparent;
  border: 2px solid #333333;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.contact-article {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.78);
}

.chat-article-container {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.78);
}

.portfolio-signature {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}

.sidebar-closed {
  
}

.sidebar-open {
  display: none;
}

.sidebar-menu-icon {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

@media (min-width: 851px) {
  .sidebar-menu-icon {
    display: none; /* or any other value you want to use to hide it */
  }
}

.landing-section {
  margin-top: 2rem;
}

.project-icon {
  font-size: 2rem;
  margin: .25rem;
}


