@font-face {
  font-family: 'agustina';
  src: url('agustina.ttf');
}

@font-face {
  font-family: 'inconsalata';
  src: url('inconsalata.ttf');
}

* {
  font-family: 'inconsalata';
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

body {

  
}

.navbar {
    display: flex;
    margin-top: -4rem;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

@media (max-width: 850px) {
  .navbar {
    display: none;
  }
}

.site-logo {

}

.nav-item {
  color: black;
  font-weight: 700;
  text-shadow: white 3px 3px 3px;
}

[data-theme=dark] .nav-item {
  color: white;
  text-shadow: black 2px 2px 2px;
}


.theme-switcher-div{
  background: rgba(0, 0, 0, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.78);
height: 2.5rem;
padding: 8px;
align-items: center;
justify-content: center;
display: flex;
}

.light-mode-button {
  background: rgba(0, 0, 0, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.78);
}

[data-theme=dark] .light-mode-button {
  background: transparent;
  border: none;
}

.light-mode-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: yellow;
  z-index: 10;
}

[data-theme=dark] .light-mode-icon {
  color: white;
}

.dark-mode-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: lightgray;
  z-index: 10;
}

[data-theme=dark] .dark-mode-icon {
  color: darkgray;
}

.dark-mode-button {
  background: transparent;
  border: none;
}

[data-theme=dark] .dark-mode-button {
  background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.78);
}

/* Default styles for the sidebar */
.sidebar {
  /* Your sidebar styles here */
}

/* Media query for screen sizes below 850px */
@media (max-width: 850px) {
  .sidebar {
    display: block; /* or any other value you want to use to make it visible */
  }
}

/* Media query for screen sizes above 850px */
@media (min-width: 851px) {
  .sidebar {
    display: none; /* or any other value you want to use to hide it */
  }
}


.resume-button {
background: rgba(0, 0, 0, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.78);
}

[data-theme=dark] .resume-button {
  background: rgba(255, 255, 255, 0.24);
}

.experience-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.78);
}

[data-theme=dark] .experience-section{
  background: rgba(255, 255, 255, 0.24);
}

@media (max-width: 767px) {
  .experience-section {
    flex-wrap: wrap;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}

@media (max-width: 768px) {
  .slider {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}

.slider-item {
  cursor: pointer;
  width: 33%;
  transition: all 0.3s ease;
  color: white;
}

.slider-item.active {
  border-bottom: thick solid black;
}

[data-theme=dark] .slider-item.active {
  border-bottom: thick solid white;
}

.job-title {
  color: white;
  font-size: 8px;
}

.job-company {
  color: black;
  font-weight: 700;
  text-shadow: white 2px 2px 2px;
}

[data-theme=dark] .job-company {
  color: white;
  text-shadow: black 2px 2px 2px;
}


.job-summary {
  width: 100%;
  color: black;
  text-shadow: white 2px 2px 2px;
}

[data-theme=dark] .job-summary {
  color: white;
  text-shadow: black 2px 2px 2px;
}

.job-summary h2 {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

[data-theme=dark] .job-summary h2 {
  color: white;
}

.job-summary p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

[data-theme=dark] .job-summary p {
  color: white;
}

.job-summary ul {
  list-style-type: disc;
  margin-left: 20px;
  color: white;
}

.job-summary li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: black;
  list-style-type: none;
}

[data-theme=dark] .job-summary li {
  color: white;
}


/* Project Section */

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.project-section-container {
  display: flex;

  flex-wrap: wrap;
}

.project-card {
  background: rgb(0, 0, 0, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(34, 185, 17, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.78);
  width: 48%;
  margin: 8px;
  justify-content: center;
  align-items: center;
}

[data-theme=dark] .project-card {
  background: rgba(255, 255, 255, 0.24);
}

.project-card-front {
  background: black;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.78);
  width: 48%;
  margin: 8px;
  justify-content: center;
  align-items: center;
}

[data-theme=dark] .project-card-front {
  background: rgba(255, 255, 255, 0.24);
}

.project-card-back {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.78);
  width: 48%;
  margin: 8px;
  justify-content: center;
  align-items: center;
}

.project-card h3 {
  color: black;
}

[data-theme=dark] .project-card h3 {
  color: white;
}

.project-card p {
  color: black;
}

[data-theme=dark] .project-card p {
  color: white;
}

@media (max-width: 873px) {
  .project-card {
    width: 100%
  }
}

.icon-link {
  color: black;
  margin: .5rem;
  font-size: 2rem;
  font-weight: 500;
}

[data-theme=dark] .icon-link{
  color: white;
}

.icon-link:hover{
  color: black;
}

.github-link:hover {
  color: black
}

.site-link {
  color: white;
  margin: .5rem;
  font-size: 2rem;
}

.site-link:hover {
  color: black;
}

.project-img {
  width: 50%;
  margin-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-img img {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.project-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.project-description {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.tech-item {
  font-size: 1.5rem;
  background-color: #F7F7F7;
  color: #333333;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.project-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  background-color: transparent;
  border: 2px solid #333333;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-article {
  /* From https://css.glass */
width: 48%;
background: rgba(0, 0, 0, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.78);
margin: 8px;
color: black;
}

[data-theme=dark] .contact-article {
  background: rgba(255, 255, 255, 0.24)
}

@media (max-width: 873px) {
  .contact-article {
    width: 100%
  }
}

.contact-article h6 {
color: black;
}

[data-theme=dark] .contact-article h6 {
  color: white;
}

.contact-article label {
  color: black;
}

[data-theme=dark] .contact-article label {
  color: white;
}

.contact-article input {
  color: black;
  background: rgba(0, 0, 0, 0.15);
}

[data-theme=dark] .contact-article input {
  color: white;
  background: rgba(255, 255, 255, 0.24);
}

.contact-article textarea {
  color: black;
  background: rgba(0, 0, 0, 0.15);
}

[data-theme=dark] .contact-article textarea {
  color: white;
  background: rgba(255, 255, 255, 0.24);
}



.contact-submit-button {
  background: transparent;
  color: black;
}

.chat-article-container {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.78);
}

.portfolio-signature {
  color: black;
  text-shadow: white 3px 3px 3px;
}


[data-theme=dark] .portfolio-signature {
  color: white;
  text-shadow: black 3px 3px 3px;
}

.portfolio-sidebar-signature {
  color: black;
  text-shadow: white 3px 3px 3px;
  position: absolute;
  top: 1.3rem;
  left: 2rem;
  
}


[data-theme=dark] .portfolio-sidebar-signature {
  color: white;
  text-shadow: black 3px 3px 3px;
}

@media (min-width: 851px) {
  .portfolio-sidebar-signature {
    display: none; /* or any other value you want to use to hide it */
  }
}
.sidebar-closed {
  background: rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.78);
  position: absolute;
  top: 64px;
  right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 6px;
}

[data-theme=dark] .sidebar-closed {
  background: rgba(255, 255, 255, 0.24);
}

.sidebar-open {
  display: none;
}

.sidebar-menu-icon {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  color: black;
}

[data-theme=dark] .sidebar-menu-icon {
  color: white;
}

@media (min-width: 851px) {
  .sidebar-menu-icon {
    display: none; /* or any other value you want to use to hide it */
  }
}

.landing-section {
  margin-top: 2rem;
}

.landing-section p {
  color: black;
}

[data-theme=dark] .landing-section p {
  color: white;
}

.about-section p {
  color: black;
}

[data-theme=dark] .about-section p {
  color: white;
}

.project-icon {
  font-size: 2rem;
  margin: .25rem;
  color: black;
}

[data-theme=dark] .project-icon {
  color: white;
}

.project-icon:hover {
  color: white;
}

[data-theme=dark] .project-icon:hover {
  color: black;
}


.signature {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;

	left: 40%;
	margin: 0 0 0 -20em;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


[data-theme=light],
:root:not([data-theme=dark]) {
  color-scheme: light;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23131313' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231f1f1f' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%232b2b2b' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23383838' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23454545' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23535353' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23616161' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23707070' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%237e7e7e' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%238d8d8d' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%239d9d9d' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23adadad' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23bdbdbd' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23cdcdcd' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23dddddd' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23eeeeee' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23FFFFFF' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
    color-scheme: dark;
    background-color: #2F47FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%232F47FF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%232e43f3' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%232c3fe7' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%232a3bdb' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%232838cf' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%232634c4' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%232430b8' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23222cad' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%232029a2' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%231e2597' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%231c228c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23191e81' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23171b77' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2315186d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23121562' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23101258' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%230d0e4f' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%230B0B45' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'inconsalata';
  }
}
[data-theme=dark] {
    color-scheme: dark;
    background-color: #2F47FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%232F47FF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%232e43f3' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%232c3fe7' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%232a3bdb' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%232838cf' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%232634c4' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%232430b8' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23222cad' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%232029a2' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%231e2597' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%231c228c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23191e81' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23171b77' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2315186d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23121562' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23101258' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%230d0e4f' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%230B0B45' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'inconsalata';
}

.top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.78);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: white solid 1px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 3rem;
  height: 4rem;
  border-radius: 20px;
}

[data-theme=dark] .top-button {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.78);
}

.top-button.show {
  opacity: 1;
}

.top-button-icon {
  font-size: 1.5rem;
}

[data-theme=dark] .top-button-icon {

}